<?xml version="1.0"?>
<ruleset name="CloudCastle DI">
    <description>Стандарт кодирования PSR-12 для CloudCastle DI</description>

    <file>src</file>
    <file>tests</file>

    <arg name="basepath" value="."/>
    <arg name="cache" value="var/cache/phpcs.cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>
    <arg value="sp"/>

    <rule ref="PSR12"/>

    <exclude-pattern>*/MultiScanPair.php</exclude-pattern>
    <exclude-pattern>*/MixedScanProgression.php</exclude-pattern>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>
</ruleset>
