parameters:
    level: max
    paths:
        - src
        - tests
        - tools/benchmark-lib.php
    excludePaths:
        - tests/Fixtures/*
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
